h1{color:blueviolet; font-style: oblique; font-size: 400%; text-align: center; text
}
.my_title_1 {color: blueviolet;
}
h3{color: blue
}
.mycolor{ color: yellow} /* about*/ 
.mycolor :hover{background-color: aqua;}

