body {font-family: 'Noto Sans TC', sans-serif;}
h1 {font-family: 'Noto Sans TC', sans-serif; }

.my-btn-color { 
    background-color: blueviolet;
}
.jumbotron { background-color: black;} 

h1 { color: white !important;}
p{color: black;
}
.my_icon_color { color:orange;}
.my_icon_color2 {color: red}
.my_margin_top {margin-top: 2%}
.my_link:hover { text-decoration: none; color: gold;}
.general_spacing {margin-bottom: 100px}
h1